export GITLAB_TOKEN="<SOME TOKEN HREE>"
export YOUR_COMPANY_DOTFILES_PATH="$HOME/cool-dotfiles"

if [ -d $YOUR_COMPANY_DOTFILES_PATH ]; then
  for file in $YOUR_COMPANY_DOTFILES_PATH/zshrc.d/*.zsh; do
    source $file
  done
fi
export OPENAI_API_KEY="sk-proj-SOMEKEYGOESHERE"
