[Desktop Entry]
Version=1.0
Type=Application
Name=1Password
Comment=Password manager
Exec=1password-scaled %F
Icon=1password
Terminal=false
Categories=Utility;Security;Password;
Keywords=password;security;1password;
GenericName=Password Manager
StartupWMClass=1Password 